@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,800;1,300;1,500&family=Roboto:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
  --color-green: #3cb815;
  --color-orange: #ff7e00;
  --color-light-green: #c0eb7b;
  --color-light-orange: #f75f1d;
  --bg-color: #fff;
  --text-color: #1a2428;
}
::-webkit-scrollbar{
  width: .5rem;
  background: var(--color-light-green);
}
::-webkit-scrollbar-thumb{
  width: .5rem;
  background: var(--color-green);
  border-radius: 5rem;
}
body{
  width: 100%;
  overflow: hiddengit;
}
a{
  color: var(--text-color);
  font-size: 16px;
}
section{
  padding: 4.5rem 0;
}
.bx-cart-alt{
  cursor: pointer;
}
.btn{
  padding: .6rem 1rem;
  background: var(--color-green);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  max-width: 160px;
}
.btn .bx{
  padding: 4px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  font-size: 20px;
  margin: auto;
}
/* Header */
.main-head{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  z-index: 999;
}
.logo{
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 1.1em;
  color: var(--text-color);
}
.logo .bx{
  font-size: 24px;
  color: var(--color-orange);
}
.main-head > .bx-menu{
  display: none;
  font-size: 24px;
}
.main-head > ul {
  display: flex;
  column-gap: .5rem;
}
.main-head > ul li > a{
  padding: .5rem 1rem;
  font-weight: 500;
}
.main-head > ul li:hover a,
.main-head > ul li .active-link{
  background-color: var(--color-light-green);
  border-radius: 5rem;
  transition: all .32s ease-in-out;
}
.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
.profile > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profile > span,
.products-container .box span{
  font-size: 13px;
  font-weight: 500;
}
/* home */
.container{
  position: relative;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow: hidden;
}
.container > img{
  position: absolute;
  width: 400px;
  height: 300px;
  bottom: 100px;
  right: 200px;
}
.home-text{
  position: absolute;
  bottom: 200px;
  left: 140px;
  padding: 20px;
}
.home-text span{
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-green);
}
.home-text h1{
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.btn:hover{
  background: var(--color-light-orange);
  transition: all .32s ease;
}
/* home */
.home{
  background: #fafaf6;
  z-index: -1;
}

/* categories */
.categories,
.products{
  max-width: 968px;
  margin: 0 auto;
  overflow: hidden;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading h1{
  font-size: 1.6rem;
  font-weight: 600;
}
.heading h1 > span{
  color: var(--color-green);
}
.categories-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,auto));
  gap: 1rem;
  margin-top: 2rem;
}
.categories-container .box{
  position: relative;
  display:  flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: .5rem;
}
.categories-container .box img{
  width: 100%;
  height: 100px;
  object-fit: contain;
  object-position: center;
}
.categories-container .box h2{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  height: 50px;
}
.categories-container .box span{
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.categories-container .box .bx{
  display: none;
  position: absolute;
  padding: 10px;
  background: var(--color-green);
  color: var(--bg-color);
  border-radius: 5rem;
  margin-top: 2rem;
  bottom: -8%;
}
.categories-container .box .bx:hover{
  background: var(--color-light-orange);
}
.categories-container .box:hover .bx{
  display: block;
}
.categories-container .box .bx:hover,
.categories-container .box:hover .bx,
.products-container .box .bx-cart-alt:hover,
.customers-container .box:hover,
.social .bx:hover{
  transition: .2 all linear;
}
.box1{
  background: #fef4ea;
}
.box2{
  background: #e9f4e3;
}
.box3{
  background: #f7f6d7;
}
.box4{
  background: #faeaea;
}
.box5{
  background: #eeeef9;
}

/* Products */
.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,auto));
  grid-template-rows: repeat(auto-fit,minmax(328px,auto));
  gap: 1.5rem;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}
.products-container .box{
  position: relative;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: .5rem;
}
.products-container .box img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.products-container .box h2{
  font-size: 1.2rem;
  font-weight: 600;
}
.products-container .box .price{
  font-size: 1rem;
  font-weight: 600;
  margin-top: .5rem;
  color: var(--color-light-orange);
}
.products-container .box .bx-cart-alt{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: var(--color-green);
  color: var(--bg-color);
  border-radius: .5rem 0 .5rem 0;
  font-size: 20px;
}
.products-container .box .bx-cart-alt:hover{
  background: var(--color-orange);
}
.products-container .box .bx-heart{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  color: var(--color-light-orange);
}
.products-container .box .discount{
  position: absolute;
  top: 1rem;
  left: 0;
  background: var(--color-light-orange);
  color: var(--bg-color);
  padding: 4px 18px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
}
.card-container{
  position: relative;
}
.the-card{
  position: absolute;
  width: 100%;
  height: 328px;
  transform-style: preserve-3d;
}
.the-card:hover{
  transform: rotateY(180deg);
  transition: all .5s ease;
}
.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #333;
  top: 0;
  left: 0;
}
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform:  rotateY(180deg);
  top: 0;
  left: 0;
}
.front,
.back{
  border-radius: .5rem;
  padding: 20px;
}
.back > a{
  position: absolute;
  color: blue;
  padding: 10px 32px;
  background: var(--color-light-green);
  border-radius: 2rem;
  bottom: 1rem;
  left: 1rem;
}
.back > a:hover{
  transform: scale(.89);
  transition: all .32s ease;
}

/* about */
.about{
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(21rem,auto));
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}
.about > img{
  width: 390px;
}
.about-text span{
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-green);
}
.about-text p{
  margin: .5rem 0 1rem;
}

/* customers */
.customers{
  max-width: 968px;
  margin: 0 auto;
  overflow: hidden;
}
.customers h2{
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
}
.customers-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.customers-container .box{
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: .5rem;
  border-bottom: 7px solid var(--color-green);
}
.customers-container .box:hover{
  transform: translateY(10px);
}
.customers-container .box .bx{
  font-size: 24px;
  color: var(--color-green);
}
.customers-container .box .stars .bx{
  font-size: 1rem;
  color: var(--color-light-orange);
}
.customers-container .box p{
  font-size: .9rem;
}
.review-profile{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  column-gap: .5rem;
}
.review-profile > img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.review-profile > h3{
  font-size: 1rem;
  font-weight: 600;
}

/* footer */
.footer{
  max-width: 968px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,auto));
  gap: 1.5rem;
  margin-top: 2rem;
  background: #fef4ea;
  padding: 20px;
  border-radius: .5rem;
  overflow: hidden;
}
.footer-box{
  display: flex;
  flex-direction: column;
}
.footer-box > p{
  font-size: .9rem;
  margin: .5rem 0 1rem;
}
.social{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}
.social .bx{
  padding: 10px;
  color: var(--color-green);
  background: var(--bg-color);
  border-radius: 5rem;
  font-size: 20px;
}
.social .bx:hover{
  background: var(--color-green);
  color: var(--bg-color);
}
.footer-box h2{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer-box > a{
    color: #868a92;
    margin-bottom: 1rem;
}
.footer-box > a:hover{
  color: var(--color-light-orange);
}
.footer-box > form{
  border-bottom: 1px solid var(--text-color);
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: .5rem;
}
.footer-box > form input{
  background: transparent;
  border: none;
  outline: none;
}
.footer-box > form > .bx{
  font-size: 20px;
  color: var(--color-light-orange);
  cursor: pointer;
}
.footer-box > form > .bxs-envelope{
  color: var(--color-green);
}
.copyright{
  text-align: center;
  padding: 20px;
}

/* Responsiveness */
@media (max-width: 1080px){
  header{
    padding: 18px 60px;
  }
  .home-text{
    padding: 0 100px;
  }
  .container > img{
    right: 100px;
  }
}
@media (max-width: 991px){
  header{
    padding: 18px 4%;
  }
  section{
    padding:  50px 4%;
  }
  .home-text > h1{
    font-size: 2rem;
  }
  .swiper-button-next,
  .swiper-button-prev{
    margin: 0;
  }
  .home-text{
    position: absolute;
    bottom: 200px;
    left: 0;
    padding: 0  5%;
  }
}
@media (max-width: 852px){
  header{
    padding: 12px 4%;
  }
  #menu-icon{
    display: initial;
  }
  .main-head > ul{
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all .2s linear;
    text-align: left;
  }
  .main-head > ul a{
    padding: 1rem;
    margin: 1rem;
    display: block;
  }
  .main-head > ul a:hover,
  .main-head > ul .active-link{
    border-radius: .5rem;
    color: var(--bg-color);
  }
  .main-head > ul.active{
    top: 100%;
  }
  .home-text h1{
    font-size: 1.7rem;
  }
  .container > img{
    width: 300px;
  }
  .btn{
    padding: .6rem 1.2rem;
  }
  .products-container{
    grid-template-columns: repeat(auto-fit,minmax(244px,auto));
  }
}
@media (max-width: 712px){
  .container > img{
    right: 20px;
  }
  .heading > h1{
    font-size: 1.2rem;
  }
  .about{
    grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
  }
  .about > img{
    order: 2;
    width: 100%;
  }
  .about-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn{
    max-width: 164px;
  }
  .customers > h2{
    font-size: 1.2rem;
  }
}
@media (max-width: 642px){
  .container > img{
    right: 0;
    width: 370px;
  }
}
@media (max-width: 546px){
  .container > img{
    right: 0;
    width: 200px;
    object-fit: contain;
  }
}
@media (max-width: 370px){
  .logo{
    font-size: 1rem;
  }
  .container > img{
    right: 0;
    bottom: 1rem;
  }
  .profile img{
    width: 30px;
    height: 30px;
  }
  .profile span{
    font-size: 10px;
  }
  .home-text{
    padding-bottom: 5rem;
  }
  .home-text span{
    font-size: .8rem;
  }
  .home-text h1{
    font-size: 1.4rem;
  }
  .heading{
    flex-direction: column;
    text-align: center;
  }
  .heading .btn{
    margin-top: 1rem;
  }
  .categories-container{
    gap: 1.5rem;
  }
}